<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://pngimg.com/uploads/github/github_PNG80.png"
         alt="" 
         height="200px"
         width="300px"
         srcset="">
    </div>
    <div class="big-card__title">
        <h1><a href="https://github.com/sediniz"> veja o meu github</a></h1>
    </div>
    <div class="big-card__description">
        <p><a href="https://github.com/sediniz">Olá! Fico feliz em te receber no meu espaço virtual. Aqui, você encontrará meus projetos, contribuições e experimentos no mundo da programação. Sinta-se à vontade para colaborar, sugerir melhorias ou simplesmente trocar ideias.</a></p>
    </div>
</div>
