<div class="container__small-card">
    <div class="container__small-card-content">
        <div class="small-card__photo">
            <img src={{PhotoCover}}
             width="200px"
             alt="" 
             srcset="">
        </div>

        <div class="small-card__title1">
            <h1><a [routerLink]="['content',id ]">{{cardtitle}}</a></h1>
            <p>*venha saber mais sobre as dificuldades que foram desenvolver esse projeto*</p>
        </div>

    </div>
    
</div>




