<header>
    <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
    <div class="container__articles">
        <div class="articles__main">
            <app-big-card
            photoCover="https://pngimg.com/uploads/github/github_PNG80.png"
            cardTitle="Veja meu perfil no GitHub!"
            cardDescription="olá! Fico feliz em te receber no meu espaço virtual. Aqui, você encontrará meus projetos, contribuições e experimentos no mundo da programação. Sinta-se à vontade para colaborar, sugerir melhorias ou simplesmente trocar ideias."
            >
            </app-big-card>
             

        </div>
        <div class="articles__others">
        <app-small-card 
        cardtitle="APIrest-Avanade-Dio"
        PhotoCover="https://www.datocms-assets.com/33413/1607702349-spring-boot-logo-112009353335.png?auto=format&crop=focalpoint&fit=crop&fp-x=0.5&fp-y=0.5&h=992&w=1984">
        </app-small-card>

        <app-small-card 
        cardtitle="Board-Avanade-Dio"
        PhotoCover="https://pngimg.com/uploads/mysql/mysql_PNG35.png">
        </app-small-card>

        <app-small-card 
        cardtitle="Angular-Blog-Avanade-Dio"
        PhotoCover="https://seeklogo.com/images/A/angular-icon-logo-9946B9795D-seeklogo.com.png">
        </app-small-card>

        </div>
    </div>