<div class="container__menu-bar">
    <ul>
        <img src="https://th.bing.com/th/id/R.1307a2648e71d531704a0f5a270ea966?rik=UK6a6u%2fILSTfCg&pid=ImgRaw&r=0" 
        alt="" 
        width="30px"
        srcset="">
        <li><a href="https://www.linkedin.com/in/matheus-sena-diniz-72b3891b3/">LINKEDIN</a></li>
        
        <img src="https://pngimg.com/uploads/github/github_PNG80.png"
        alt=""
        width="30px" 
        srcset="">
        <li><a href="https://github.com/sediniz">GITHUB</a></li>

        <img src="https://static.vecteezy.com/system/resources/previews/018/930/473/non_2x/instagram-logo-instagram-icon-transparent-free-png.png" 
        alt="" 
        width="30px"
        srcset="">
        <li><a href="https://www.instagram.com/mt_dinizz/">INSTAGRAM</a></li>

    </ul>
</div>
