<div class="container__menu-bar">
    <ul>
        <img src="https://creazilla-store.fra1.digitaloceanspaces.com/icons/7912623/linkedin-icon-md.png" 
        alt="" 
        width="30px"
        srcset="">
        <li><a href="https://www.linkedin.com/in/matheus-sena-diniz-72b3891b3/">LINKEDIN</a></li>
        
        <img src="https://www.svgrepo.com/download/445786/github.svg"
        alt=""
        width="30px" 
        srcset="">
        <li><a href="https://github.com/sediniz">GITHUB</a></li>

        <img src="https://th.bing.com/th/id/R.af1159ea3dd22f4b3d84a87d869127b9?rik=iz68IEBoErXAHw&riu=http%3a%2f%2fpluspng.com%2fimg-png%2finstagram-icon-png-instagram-icon-1600.png&ehk=%2bAo2wF7lgRZJrtXPe3ev37c8JDCD6NBcj%2fGufhuhjQE%3d&risl=&pid=ImgRaw&r=0" 
        alt="" 
        width="30px"
        srcset="">
        <li><a href="https://www.instagram.com/mt_dinizz/">INSTAGRAM</a></li>

    </ul>
</div>
